@define-color cc-bg rgba(36, 39, 58, 0.7);
@define-color noti-bg rgba(30, 32, 48, 0.7);
@define-color noti-bg-darker rgba(24, 25, 38, 0.7);
@define-color noti-border-color #f5a97f;
@define-color noti-bg-hover rgb(30, 32, 48);
@define-color noti-bg-focus rgba(24, 25, 38, 0.7);
@define-color text-color #cad3f5;
@define-color text-color-disabled #a5adcb;
@define-color bg-selected rgba(198, 160, 246, 0.7);

* {
  font-family: Fantasque Sans Mono Regular;
  font-weight: bold;
  font-size: 14px;
}

.control-center .notification-row:focus,
.control-center .notification-row:hover {
  opacity: 1;
  background: @noti-bg-darker;
}

.notification-row {
  outline: none;
  margin-top: 0.15rem;
  padding: 0;
  border: none;
}

.notification {
  background: transparent;
  margin: 0px;
  border: none;
}

.notification-content {
  background: @cc-bg;
  padding: 7px;
  border-radius: 10px;
  border: 2px solid @noti-border-color;
  margin: 0;
}

.close-button {
  background: #f4dbd6;
  color: @cc-bg;
  text-shadow: none;
  padding: 0;
  border-radius: 10px;
  margin-top: 5px;
  margin-right: 5px;
}

.close-button:hover {
  box-shadow: none;
  background: #f5a97f;
  transition: all 0.15s ease-in-out;
  border: none;
}

.notification-action {
  color: #cad3f5;
  border: 2px solid @noti-border-color;
  border-top: none;
  border-radius: 10px;
  background: @noti-bg-darker;
}

.notification-default-action:hover,
.notification-action:hover {
  color: #cad3f5;
  background: @noti-bg-darker;
}

.summary {
  padding-top: 7px;
  font-size: 13px;
  color: #cad3f5;
}

.time {
  font-size: 11px;
  color: #f4dbd6;
  margin-right: 24px;
}

.body {
  font-size: 12px;
  color: #cad3f5;
}

.control-center {
  background: @cc-bg;
  border: 2px solid @noti-border-color;
  border-radius: 10px;
}

.control-center-list {
  background: transparent;
}

.control-center-list-placeholder {
  opacity: 0.5;
}

.floating-notifications {
  background: transparent;
}

.widget-title {
  color: @text-color;
  background: alpha(@noti-bg-darker, 0.1);
  padding: 5px 10px;
  margin: 10px 10px 5px 10px;
  font-size: 1.5rem;
  border-radius: 10px;
}

.widget-title > button {
  font-size: 1rem;
  color: @text-color;
  text-shadow: none;
  background: @noti-bg;
  box-shadow: none;
  border-radius: 10px;
}

.widget-title > button:hover {
  background: #f4dbd6;
  color: @cc-bg;
}

trough {
  border-radius: 20px;
  background: @cc-bg;
}

trough highlight {
  padding: 2px;
  background: #f4dbd6;
  border: none;
}

trough slider {
  border-color: #f4dbd6;
  background: rgb(36, 39, 58);
  box-shadow: none;
}

.widget-dnd {
  background: alpha(@noti-bg-darker, 0.6);
  padding: 5px 10px;
  margin: 5px 10px 10px 10px;
  border-radius: 10px;
  font-size: large;
  color: #f5e0dc;
}

.widget-dnd > switch {
  border-radius: 4px;
  background: #494d64;
}

.widget-dnd > switch:checked {
  background: #f4dbd6;
  border: 1px solid #f4dbd6;
}

.widget-dnd > switch slider {
  background: @cc-bg;
  border-radius: 5px;
}

.widget-dnd > switch:checked slider {
  background: @cc-bg;
  border-radius: 5px;
}

.widget-label {
  margin: 10px 10px 5px 10px;
}

.widget-label > label {
  font-size: 1rem;
  color: @text-color;
}

.widget-mpris {
  color: @text-color;
  background: @noti-bg-darker;
  padding: 5px 10px 0px 0px;
  margin: 5px 10px 5px 10px;
  border-radius: 10px;
}

.widget-mpris > box > button {
  border-radius: 10px;
}

.widget-mpris-player {
  padding: 5px 10px;
  margin: 10px;
}

.widget-mpris-title {
  font-weight: 700;
  font-size: 1.25rem;
}

.widget-mpris-subtitle {
  font-size: 1.1rem;
}

.widget-buttons-grid {
  font-size: large;
  padding: 5px;
  margin: 5px 10px 10px 10px;
  border-radius: 10px;
  background: @noti-bg-darker;
}

.widget-buttons-grid > flowbox > flowboxchild > button {
  margin: 3px;
  background: @cc-bg;
  border-radius: 10px;
  color: @text-color;
  text-shadow: none;
  box-shadow: none;
}

.widget-buttons-grid > flowbox > flowboxchild > button:hover {
  background: #f4dbd6;
  color: @cc-bg;
}

.widget-menubar > box > .menu-button-bar > button {
  border: none;
  background: transparent;
}

.topbar-buttons > button {
  border: none;
  background: transparent;
}

.blank-window {
  background: transparent;
}
