* {
    background:     #1f1f28; 
    background-alt: #181820; 
    foreground:     #dcd7ba; 
    selected:       #957fb8; 
    active:         #7e9cd8; 
    urgent:         #c34043; 
    border: @active;
}

