/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors - Gruvbox Material Dark Medium
 **/

* {
    background:     #282828;  /* bg0 */
    background-alt: #32302f;  /* bg1 */
    foreground:     #ebdbb2;  /* fg */
    selected:       #d3869b;  /* purple */
    active:         #b8bb26;  /* green */
    urgent:         #fb4934;  /* red */
}

