@define-color bg #1f1f28;

* {
  border: none;
  font-family: "Sarasa Gothic CL", "JetBrainsMono Nerd Font Propo";
  font-size: 16px;
  font-weight: bold;
  background: none;
}

window#waybar {
  color: #dcd7ba;
  background: alpha(@bg, 0.7);
}

.modules-left,
.modules-right,
.modules-center {
  border-radius: 10px;
  background: alpha(@bg, 0.7);
  padding: 2px 5px;
  margin: 2px 5px;
  border: solid 2px #7e9cd8; /* Blue */
}

tooltip {
  color: #7e9cd8;
  background-color: #1f1f28;
  text-shadow: none;
}

tooltip * {
  color: #7e9cd8;
  text-shadow: none;
}

#custom-sep {
  color: #727169; /* Grey */
}

#workspaces {
  border-radius: 4px;
}

#workspaces button {
  color: #ffa066; /* Orange */
  background: none;
  padding: 1;
}

#workspaces button:hover {
  color: #dcd7ba; /* FG */
}

#workspaces button.active {
  color: #76946a; /* Green */
}

#workspaces button.empty {
  color: #727169; /* Grey */
}

#workspaces button.visible {
  color: #6a9589; /* Cyan */
}

#workspaces button.urgent {
  color: #c34043; /* Red */
}

#memory {
  color: #ffa066; /* Orange */
}

#clock {
  font-weight: 600;
  color: #76946a; /* Green */
}

#pulseaudio {
  color: #7e9cd8; /* Blue */
}

#pulseaudio.muted {
  color: #c34043; /* Red */
}

#network {
  color: #6a9589; /* Cyan */
}

#custom-notification {
  color: #957fb8; /* Magenta */
}
