@define-color bg #282828;

* {
  border: none;
  font-family: "Fantasque Sans Mono Regular";
  font-size: 16px;
  font-weight: bold;
  background: none;
}

window#waybar {
  color: #ebdbb2;
}

.modules-left,
.modules-right,
.modules-center {
  border-radius: 10px;
  background: alpha(@bg, 0.6);
  padding: 12px 0;
  border: solid 2px #d79921;
}

tooltip {
  color: #83a598;
  background-color: #282828;
  text-shadow: none;
}

tooltip * {
  color: #83a598;
  text-shadow: none;
}

#custom-sep {
  color: #a89984;
  margin: 4px 0;
}

#workspaces {
  border-radius: 4px;
  margin-right: 5px;
}

#workspaces button {
  color: #fe8019;
  background: none;
  padding: 0;
}

#workspaces button:hover {
  color: #fabd2f;
}

#workspaces button.active {
  color: #b8bb26;
}

#workspaces button.empty {
  color: #928374;
}

#workspaces button.visible {
  color: #8ec07c;
}

#workspaces button.urgent {
  color: #fb4934;
}

#memory {
  color: #fe8019;
}

#clock {
  font-weight: 600;
  color: #b8bb26;
}

#pulseaudio {
  color: #83a598;
}

#pulseaudio.muted {
  color: #fb4934;
}

#network {
  color: #8ec07c;
}

#custom-notification {
  color: #d3869b;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 7px;
}
