@define-color bg #1e1e2e; /* base */

* {
  border: none;
  font-family: "Fantasque Sans Mono Regular";
  font-size: 16px;
  font-weight: bold;
  background: none;
}

window#waybar {
  color: #cdd6f4; /* text */
}

.modules-left,
.modules-right,
.modules-center {
  border-radius: 10px;
  background: alpha(@bg, 0.8);
  padding: 12px 0;
  border: solid 2px #cba6f7; /* yellow */
}

#custom-sep {
  color: #6c7086; /* overlay0 */
  margin: 4px 0;
}

#workspaces {
  border-radius: 4px;
  margin-right: 5px;
}

#workspaces button {
  color: #f9e2af; /* yellow */
  background: none;
  padding: 0;
  transition: all 0.2s ease;
}

#workspaces button:hover {
  color: #cba6f7; /* mauve */
}

#workspaces button.active {
  color: #f9e2af; /* yellow */
}

#workspaces button.empty {
  color: #585b70; /* surface2 */
}

#workspaces button.visible {
  color: #f9e2af; /* yellow */
}

#workspaces button.urgent {
  color: #f38ba8; /* red */
}

#temperature {
  color: #f9e2af; /* yellow */
}

#clock {
  font-weight: 600;
  color: #a6e3a1; /* green */
}

#pulseaudio {
  color: #94e2d5; /* teal */
}

#pulseaudio.muted {
  color: #f38ba8; /* red */
}

#network {
  color: #fab387; /* peach */
}

#custom-notification {
  padding-top: 15px;
}
